#topo{
    height: 30px;
    width: 100%;
background-color: aquamarine;
}
.table-livro,
.table-livro th,
.table-livro td{
    border: 1px solid black !important;
    color: firebrick;
    background-color: lightsteelblue;
}